In [0]:
import numpy as np
import random as random
import pandas as pd
import string
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [0]:
Nepal={
    "PN1":('Bhojpur','Dhankuta', 'Ilam','Jhapa', 'Khotang','Morang', 'Okhaldhunga','Panchthar', 'Sankhauasabha', 'Solukhumbu', 'Sunsari', 'Taplejung', 'Terhathum', 'Udayapur'),
    "PN2":('Saptari','Parsa','Bara','Siraha','Dhanusha','Rautahat','Mahottari'),
    "PN3":('Bhaktapur','Chitwan','Dhading', 'Dolakha','Kathmandu','Kabrepalanchok','Lalitpur', 'Makwanpur', 'Nukuwot', 'Ramechaap','Rasuwa', 'Sindhuli', 'Sindupalchok'),
    "PN4":('Baglung', 'Gorkha','Kaski', 'Lamjung', 'Manang', 'Mustang', 'Myagdi', 'Nawalpur', 'Parbat', 'Syangja', 'Tanahun'),
    "PN5":('Arghakhanchi', 'Banke', 'Bardiya', 'Dang', 'Eastern_Rukum', 'Gulmi', 'Kapilvastu','Parasi', 'Palpa', 'Pyuthan', 'Rolpa', 'Rupandehi'),
    "PN6":('Dailekh', 'Dolpa', 'Humla', 'Jajarkot', 'Jumla', 'Kalikot', 'Mugu', 'Salyan', 'Surkhet', 'Western_Rukum'),
    "PN7":('Achham', 'Baitadi', 'Bajhang', 'Bajura', 'Dadeldhura', 'Darchula', 'Doti','Kailali', 'Kanchanpur'),

}
#print (Nepal["PN1"][1])

In [0]:
Foreign=['Saudi_Arabia', 'Qatar', 'India',' Malaysia','UAE', 'America', 'Australia', 'Bahrain','Kuwait', 'Canada', 'Norway', 'UK', 'Sweden']

In [0]:
Skills=['Agriculture','Construction','Education','Research','Sports']

In [0]:
def Names(k: int, ntokens: int,
               pool: str=string.ascii_uppercase) -> set:
    """Generate a set of unique string tokens.

    k: Length of each token
    ntokens: Number of tokens
    pool: Iterable of characters to choose from

    For a highly optimized version:
    https://stackoverflow.com/a/48421303/7954504
    """

    Name = set()

    # An optimization for tightly-bound loops:
    # Bind these methods outside of a loop
    join = ''.join
    add = Name.add

    while len(Name) < ntokens:
        token = join(random.choices(pool, k=k))
        add(token)
    return Name

In [6]:
random.choice(Foreign)

'Kuwait'

In [9]:
N=50
FirstName=[]
LastName=[]
Countries=[]
Gender=[]
Skill=[]
Province=[]
District=[]
Investment=[]
for i in range(N):
  FirstName=list(Names(10,i))
  LastName=list(Names(10,i))
for i in range(N-1):
  Countries.append(random.choice(Foreign))
  Gender.append(random.choice(('M','F')))
  Skill.append(random.choice(Skills))
  Investment.append(random.randint(1000,1000000))
  #Lock=random.choice(list(Nepal.keys()))
  #print ("Lock:",Lock)
  One_key=random.choice(list(Nepal.items()))
  #print (One_key[0],random.choice(One_key[1]))
  Province.append(One_key[0])
  District.append(random.choice(One_key[1]))
  #Province.append(random.choice(list(Nepal.keys())))
  #District=([LockP for LockP in Nepal.values()])
#print ("FirstName:",FirstName)
#print ("LastName:",LastName)
#print ("Countries:",Countries)
#print ("Gender:",Gender)
#print ("Skill:",Skill)
#print ("Province:",Province)
#print ("District:",District)
#print ("Investment:",Investment)

Migration=pd.DataFrame(
    {"FirstName":FirstName,
     "LastName":LastName,
     "Countries":Countries,
     "Gender":Gender,
     "Skill":Skill,
     "Province":Province,
     "District":District,
     "Investment":Investment
     })
#print (Migration.columns)
Migration=Migration[['FirstName',
       'LastName',  'Gender', 'Countries','Skill', 'Investment','Province','District']]
print (Migration)

     FirstName    LastName Gender     Countries         Skill  Investment  \
0   QBAYUGKFYP  XYPKOQOZVT      M           UAE     Education      796530
1   OHQWDSIVRJ  SSSDBOWQGE      F      Malaysia        Sports      809641
2   ODTRYBJWGR  IVMHCSVLJA      F        Sweden      Research      121456
3   XEADAPERGZ  JYTCDZOCKP      M  Saudi_Arabia   Agriculture      555582
4   VIMSYYQVCC  DIHMFRTTOI      F        Sweden  Construction      153997
5   GECJKFQOWT  AZBZYHVDAT      F        Canada     Education        4615
6   UBMHUGTQVF  TWVTRORQIP      F       Bahrain   Agriculture      465857
7   YKEGXRTKQZ  JIORRLRUBV      F      Malaysia      Research      504583
8   IBHRRQTWWB  EFRCHQBKCR      M  Saudi_Arabia  Construction      329629
9   BOEKWREVJD  VBGAVRTMMV      F  Saudi_Arabia  Construction      191379
10  LVWVRRBMBP  VHLPGHWUOR      M       Bahrain      Research       62087
11  PJVVQWVUHJ  RKYEXFZJSC      M      Malaysia     Education      895305
12  MOPIGZIPHL  WPGQEMNICC      F           UAE      Research      889961
13  IYWPDOAVBQ  VYLKKJSMSY      M       Bahrain      Research       31682
14  SFXMQQCBDH  AXXCSIHTVC      F        Sweden  Construction      245886
15  CONLRVLQTD  HGUQRNIUOM      M       America        Sports      262771
16  KKTCEHYMZW  HVLJKUWAYG      F         Qatar   Agriculture      997795
17  CNGTLRCAIA  OLVYHDJAFQ      M            UK     Education       71749
18  RPHZRMNNVT  LLNPQOYYPP      F         India        Sports      258064
19  SWQZSWHFAR  DKTLQSQYGS      F       America   Agriculture      594851
20  TBMNHXYEJT  RRDMCLLJQK      M       Bahrain        Sports       94698
21  WKQCVJJLLD  SLMOVVQIRH      M        Kuwait      Research      587114
22  THYMCJGVSP  OPCIXSATGR      F       Bahrain   Agriculture      886490
23  HZTPODXEIS  VYLIJPUKYQ      F        Canada     Education      887119
24  NVIQWCPGMW  IXBWDDPXVR      F        Canada  Construction      673876
25  UTKNKCJTBP  HAJCDREETE      M       Bahrain        Sports      758362
26  HUUCHMRWQJ  OMSYEPPMNE      F        Canada   Agriculture      578495
27  TSJPXKFLCA  LQWOLFGXQH      F     Australia  Construction      319868
28  GEMTHGYGKT  VTSOESFGSP      F        Norway      Research      867888
29  SZKMFQYCUF  SEMPMZTWOG      M        Norway     Education      216903
30  XIZCEYOLPM  QTITYZVZDT      F      Malaysia      Research      829173
31  IURCSFWKNL  IVPHHNZTAA      F  Saudi_Arabia      Research      582439
32  FMOHXUSGUQ  FQXWULWRRH      F      Malaysia        Sports      186432
33  DFECKQZHQV  DCFOALFWMD      M  Saudi_Arabia     Education      848819
34  IAMPQESHVW  DXANYBTHCH      M            UK     Education      744071
35  GWKVLDXQQK  JQPLHNDTRG      M         India      Research      449153
36  QAQAYKLRTL  CECOYJJBNB      M     Australia        Sports      539567
37  AUMWTCFNJQ  ELJUNQQPRL      M        Canada   Agriculture      702272
38  FFQSXDWJBW  OBFSTSDOMW      F  Saudi_Arabia      Research      317303
39  NIQPDXSJXN  HHCHXDBIAK      F        Kuwait        Sports      533219
40  FQNAMJPBZX  UFTVGZDJSN      M        Canada     Education      216798
41  PTKQSCYBZG  GSIVYBTBBV      M        Sweden      Research       77071
42  INKDSWEDAP  ZOKIEGDWMZ      F       Bahrain  Construction      259932
43  ODARSNDWVG  LXAVCGPKQK      M           UAE   Agriculture      849624
44  QZAOXNBBZO  ZQHYKUCTPS      F            UK      Research      256213
45  ELHKYTGXDU  XQEFZBCOXS      F         India     Education      617724
46  ZNJLXAORSK  DJJNSOBEQG      F         Qatar        Sports      942206
47  ADGPOLGPNS  DTGGCVTXVF      F       America   Agriculture      566115
48  SVZXOPIGVC  IXTBCCMAWL      M     Australia  Construction      731102

   Province       District
0       PN1  Sankhauasabha
1       PN5   Arghakhanchi
2       PN6        Surkhet
3       PN6          Jumla
4       PN4         Parbat
5       PN4         Manang
6       PN3         Rasuwa
7       PN3         Rasuwa
8       PN4          Kaski
9       PN2      Mahottari
10      PN5  Eastern_Rukum
11      PN2      Mahottari
12      PN6        Dailekh
13      PN2       Dhanusha
14      PN4         Gorkha
15      PN5     Kapilvastu
16      PN4        Tanahun
17      PN7         Achham
18      PN1        Khotang
19      PN1    Okhaldhunga
20      PN6           Mugu
21      PN7         Bajura
22      PN4         Myagdi
23      PN5     Kapilvastu
24      PN2       Rautahat
25      PN3        Nukuwot
26      PN2      Mahottari
27      PN6        Surkhet
28      PN2         Siraha
29      PN1    Okhaldhunga
30      PN7           Doti
31      PN6         Salyan
32      PN4         Gorkha
33      PN3        Dhading
34      PN1      Taplejung
35      PN5  Eastern_Rukum
36      PN1     Solukhumbu
37      PN1       Dhankuta
38      PN5           Dang
39      PN3   Sindupalchok
40      PN5          Rolpa
41      PN3      Bhaktapur
42      PN2          Parsa
43      PN6          Dolpa
44      PN2       Dhanusha
45      PN4        Mustang
46      PN1        Khotang
47      PN4        Lamjung
48      PN7     Kanchanpur